version: "2"

services:

  logspout:
    image: ${REGISTRY_URL}/logspout
    extends: 
      file: common-services.yml
      service: logspout
    extra_hosts: 
    - "logstash:${LOGSTASH_URL}"
    command: syslog+tcp://${LOGSTASH_URL}:5000
    restart: "unless-stopped"

  filebeat:
    image: ${REGISTRY_URL}/filebeat:${IMAGE_TAG}
    extends: 
      file: common-services.yml
      service: filebeat
    extra_hosts: 
    - "logstash:${LOGSTASH_URL}"
    environment:
    - LOGSTASH_SSL_ENABLED=False
    restart: "unless-stopped"

volumes:
  fbdata: